@page
@model XMLParser.Pages.FavouritesModel
@{

    foreach (var feed in Model.AllFavourites)
    {
        <section class="item p-3">
            <h1 class="item-date">@feed.FeedTitle</h1>
            <div class="buttons">
                <a class="btn btn-success" asp-page="Feed" asp-route-xmlUrl="@feed.XmlUrl">Feed Info</a>
                <a class="btn btn-primary" href="@feed.HtmlUrl">Original Site</a>
                <form method="post">
                    <button type="submit" class="btn btn-danger" asp-page-handler="DeleteStar" asp-route-xmlUrl="@feed.XmlUrl" asp-route-htmlUrl="@feed.HtmlUrl" asp-route-feedTitle="@feed.FeedTitle">Unstar</button>
                </form>
            </div>
        </section>
    }

}
