@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        @for (int i = 0; i < Model.RssItems.Count; i++)
        {
            var feedTitle = Model.FeedTitles[i];
            var htmlUrl = Model.HtmlUrls[i];
            <h1>@feedTitle</h1>
            <div class="ml-auto">
                <a class="btn btn-success" href="@htmlUrl">Go to site</a>
            </div>
            foreach (var item in Model.RssItems[i])
            {
                <section class="item p-3">
                    <h1 class="item-date">@item.PubDate</h1>
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        <h2>@item.Title</h2>
                    }
                    <p class="item-description">@Html.Raw(@item.Description)</p>
                    <a class="btn btn-primary d-flex justify-content-sm-start" href="@item.Link">Original article</a>
                </section>
            }
        }

        <nav aria-label="navigation-links">
            <ul class="pagination">
                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Page("Index", new {pageIndex = Model.PageIndex - 1 })">Previous</a>
                </li>
                @for (int i = 1; i <= Math.Ceiling((double)Model.XmlUrls.Count/Model.PageSize); i++)
                {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link" href="@Url.Page("Index", new { pageIndex = i })">@i</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link @(Model.PageIndex == Model.XmlUrls.Count + 1 ? "disabled" : "")" href="@Url.Page("Index", new { pageIndex = Model.PageIndex + 1})">Next</a>
                </li>
            </ul>
        </nav>
     }
      
</div>


